# For MongoDB Atlas (what I used)
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority&appName=YourApp

# For local development (requires MongoDB installed locally)
MONGO_URI=mongodb://localhost:27017/PatientVisit

PORT=3000
