<div class="visit-list-container">
    <div class="visit-list-actions">
        <button class="addVisitButton" color="primary" type="button" (click)="openAddPatientDialog()">
            Create a Visit
        </button>
    </div>

    @if (visits$ | async; as visits) {
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="visitId">
            <th mat-header-cell *matHeaderCellDef> Visit ID </th>
            <td mat-cell *matCellDef="let visit"> {{ visit._id }} </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> Patient First Name </th>
            <td mat-cell *matCellDef="let visit">
                {{ visit.patientId?.firstName || '-' }}       </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Patient Last Name </th>
            <td mat-cell *matCellDef="let visit">
                {{ visit.patientId?.lastName || '-' }}       </td>
        </ng-container>

        <ng-container matColumnDef="visitDate">
            <th mat-header-cell *matHeaderCellDef> Date of Visit </th>
            <td mat-cell *matCellDef="let visit"> {{ visit.visitDate | date }} </td>
        </ng-container>

        <ng-container matColumnDef="visitType">
            <th mat-header-cell *matHeaderCellDef> Visit Type </th>
            <td mat-cell *matCellDef="let visit"> {{ visit.visitType }} </td>
        </ng-container>

        <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef> Notes </th>
            <td mat-cell *matCellDef="let visit"> {{ visit.notes }} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef> Date Applied </th>
            <td mat-cell *matCellDef="let visit">{{ visit.visitDate | date:'MMM d, y, hh : mm a' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let visit">
                <button type="button" class="actionButton" mat-icon-button color="primary" (click)="editVisit(visit)"
                    matTooltip="Edit Visit">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr (click)="onRowClick(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    }
    <mat-paginator [length]="totalLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]"
        (page)="onPageChange($event)">
    </mat-paginator>

    @if ((visits$ | async)?.length === 0) {
    <div class="no-data">
        No visits found.
    </div>
    }
</div>