:host {
    p {
        color: red;
    }
}

.visit-list-actions {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: end;

    mat-form-field {
        margin-left: 16px;
        flex: 1;
    }

    .addVisitButton {
        margin-right: 16px;
        margin-bottom: 20px;
        padding: 15px;
    }

    .closeButton {
        margin-right: 16px;
    } 
}