:host {
    p {
        color: red;
    }
}

.visit-list-actions {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: end;

    mat-form-field {
        margin-left: 16px;
        flex: 1;
    }

    .addVisitButton {
        margin-left: auto;
        background-color: #1976d2;
        color: white;
        border: none;
        padding: 8px 16px;
        font-weight: 500;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      
    }

    .closeButton {
        margin-right: 16px;
    } 
}

.loading {
    text-align: center;
    font-size: 18px;
    padding: 24px;
    color: #666; 
}