<div class="visitForm">
    <div class="form-header">
        <h1>{{ isEdit ? 'Edit Visit Detail' : 'Add New Visit' }}</h1>
    </div>

    <form class="visitForm" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Patient</mat-label>
            <input type="text" title="patient" matInput formControlName="patientDisplay" [matAutocomplete]="auto" required />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onPatientSelected($event.option.value)">
                <mat-option *ngFor="let patient of filteredPatients | async" [value]="patient">
                    {{ displayPatientName(patient) }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Date of Visit</mat-label>
            <input matInput title="visitDate" [matDatepicker]="picker" formControlName="visitDate" readonly/>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Visit Type</mat-label>
            <mat-select formControlName="visitType">
                <mat-option *ngFor="let type of visitTypes" [value]="type.value">
                    {{ type.label }}     </mat-option>
            </mat-select>
        </mat-form-field>
          
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Notes</mat-label>
            <textarea matInput formControlName="notes" title="notes" rows="4"
                placeholder="Enter any additional notes about the visit...">
        </textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            {{ isEdit ? 'Update Visit' : 'Create Visit' }}
        </button>

    </form>
    </div>