html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Poppins", sans-serif; }

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: rgb(255, 255, 255) !important;
}